input[type="color"].color{
  width: 80%!important;
  height: calc(1.5em + .75rem + 2px)!important;
}

.vert{
  top: 0px;
  pointer-events: none;
  border-left: 1px dashed #b5b5b5;
  height: 100%;
}
.hor{
  top: 0px;
  pointer-events: none;
  border-top: 1px dashed #b5b5b5;
  width: 100%;
}


